.custom-timeline {
    .rs-timeline-item-custom-dot {
      .rs-icon {
        position: absolute;
        background: #fff;
        // border: 2px solid #ddd;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 18px;
        padding-top:9px;
        color: #7a2020;
        margin-left: -13px;
      }
    }
    .rs-timeline-item-content {
      margin-left: 24px;
    }
  }