.top-title{
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
};
.second-title{
    color:#080a4d;
    font-family: 'Poppins',sans-serif;
    
    // background: linear-gradient(to bottom,rgb(100, 21, 53)    0%, rgba(0, 0, 0, 0) 100%);
};
.third-title{
    color:#5b0427;
}