



.App{
    max-width: 100%;
    background-color: #11191f;
    overflow-x: hidden;
    
}
.top {

    .hero {

        .navbottom_wrapper {
            height: 100%;
            background-color: #394046;
            background-position: center;
            background-size: cover;
            
            padding-bottom: 3em;
        }
    }
    padding-bottom: 3em;
}
