/* @import 'tailwindcss/base'; */
/* @import 'tailwindcss/components'; */
@import 'tailwindcss/utilities';



*{
    font-family: 'Poppins',sans-serif !important; 
    --bs-card-bg: rgb(31 41 55) !important;
}

.grecaptcha-badge {
    width: 70px !important;
    overflow: hidden !important;
    transition: all 0.3s ease !important;
    left: 4px !important;
    visibility: hidden;
  }
  
  .grecaptcha-badge:hover {
    width: 256px !important;
  }

.custom-slider{
  background-color: rgb(31 41 55) !important;
  overflow:hidden;
}

.rs-carousel-label-wrapper{
  visibility:hidden;
}